@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    background: url("../img/home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #4CAF50;
    animation-name: fade-in;
    animation-duration: 1s;
}

a {
    text-decoration: none;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(27, 40, 56);
    color: azure;
    font-size: 50px;
    position: fixed;
    top: 0;
    width: 99%;

}

.title {
    padding: 15px;
}

.title-link:visited {
    color: azure;
}

.title-link:link {
    color: azure;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 89.5px;
    width: 99%;
}

.horizontal-content {
    float: left;
}

.horizontal-content #horizontal-link {
    display: block;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-content #horizontal-link:hover:not(.horizontal-active) {
    background-color: #555;
    color: azure;
}

.horizontal-active {
    background-color: #4CAF50;
}

.vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    top: 137px;
    height: 100%;
    overflow: auto;
    background-color: #333;
}

.vertical-content #vertical-link {
    display: block;
    color: azure;
    padding: 8px 16px;
    text-decoration: none;
}

.vertical-content #vertical-link.active-vertical {
    background-color: #4CAF50;
    color: azure;
}

.vertical-content #vertical-link:hover:not(.active-vertical) {
    background-color: #555;
    color: azure;
}

.main-content {
    margin-left: 20%;
    padding: 1px 16px;
    position: fixed;
    top: 137px;
    height: 81%;
    width: 73%;
    font-weight: 700;
    display: grid;
    justify-content: center;
    font-size: 2.04em;
}

#socialmedia-links {
    position: relative;
    display: inline-block;
}

#socialmedia-links .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    opacity: 0;
    transition: opacity 700ms;
}

#socialmedia-links .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#socialmedia-links:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.follow {
    position: fixed;
    bottom: 0;
    margin-left: 21%;
    width: 78%;
    background: rgb(27, 40, 56);
    color: azure;
    text-align: center;
}

.social:link {
    color: azure;
}

.social:visited {
    color: azure;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#socialmedia-links {
    width: 70px;
    line-height: 50px;
    margin: 10px;
}

.social:link {
    color: azure;
}

.social:visited {
    color: azure;
}